@import "tailwindcss";
@plugin "daisyui";
@plugin '@tailwindcss/typography';

@theme {
	--font-josefin: "Josefin Sans Variable", sans-serif;
	--font-raleway: "Raleway Variable", sans-serif;
	--font-worksans: "Work Sans Variable", sans-serif;
}

@plugin "daisyui/theme" {
	name: "light";
	default: true;
	prefersdark: false;
	color-scheme: "light";
	--color-base-100: oklch(100% 0 0);
	--color-base-200: oklch(98% 0 0);
	--color-base-300: oklch(95% 0 0);
	--color-base-content: oklch(21% 0.006 285.885);
	--color-primary: oklch(21% 0.006 285.885);
	--color-primary-content: oklch(96% 0.018 272.314);
	--color-secondary: oklch(44% 0.017 285.786);
	--color-secondary-content: oklch(98% 0.003 247.858);
	--color-accent: oklch(26% 0 0);
	--color-accent-content: oklch(98% 0.002 247.839);
	--color-neutral: oklch(14% 0.005 285.823);
	--color-neutral-content: oklch(96% 0.001 286.375);
	--color-info: oklch(44% 0.11 240.79);
	--color-info-content: oklch(98% 0.026 102.212);
	--color-success: oklch(44% 0.119 151.328);
	--color-success-content: oklch(97% 0.021 166.113);
	--color-warning: oklch(55% 0.163 48.998);
	--color-warning-content: oklch(98% 0.031 120.757);
	--color-error: oklch(51% 0.222 16.935);
	--color-error-content: oklch(97% 0.017 320.058);
	--radius-selector: 0.25rem;
	--radius-field: 0.5rem;
	--radius-box: 1rem;
	--size-selector: 0.28125rem;
	--size-field: 0.25rem;
	--border: 1px;
	--depth: 1;
	--noise: 1;
}
